:root {
    --clr-primary: #bd0000;
    --clr-primary-highlight: #cf2020;
    --clr-primary-shadow: #9b0000;
    --clr-primary-glow: #ff7777;
    --clr-secondary: #dcdc20;
    --clr-secondary-highlight: #eded40;
    --clr-secondary-shadow: #a9a900;
    --clr-tertiary: #eb4700;
    --clr-tertiary-highlight: #fd8720;
    --clr-tertiary-shadow: #c03a00;
    --clr-black: #000000;
    --clr-dark-1: #202020;
    --clr-dark-2: #404040;
    --clr-dark-3: #606060;
    --clr-light-1: #9f9f9f;
    --clr-light-2: #bfbfbf;
    --clr-light-3: #dfdfdf;
    --clr-white: #ffffff;
}

html, #root, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--clr-tertiary-highlight) var(--clr-dark-2);
  }
  
#root {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

main {
    overflow-y: auto; 
    flex: auto;
    background-color: var(--clr-light-1);
    scrollbar-width: thin;
    scrollbar-color: var(--clr-tertiary-highlight) var(--clr-dark-2);
}

a {
    text-decoration: none;
}

* {
    font-family: 'Nunito', 'Lato', sans-serif;
}

img {
    width:100%;
    display: block;
    transition: opacity .3s linear;
}

img:hover {
    opacity: .375;
    cursor: pointer;
}

header,
footer {
    background-color: var(--clr-dark-2);
    padding: 1em 3em;
    box-shadow: inset 0px 4px 18px var(--clr-black);
}

header {
    border-bottom: 3px solid var(--clr-tertiary-highlight);
}

footer {
    border-top: 3px solid var(--clr-tertiary-highlight);
}

h1 {
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.align__items__center {
    align-items: center;
}

.flex__space__between {
    justify-content: space-between;
}

.nav__list {
    list-style: none;
}

.nav__list a {
    padding: .125em 0.875em;
    margin: 0 .125em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.nav__list a:hover,
a:hover,
#submit:hover {
    color: var(--clr-tertiary-highlight);
    text-shadow: 2px 2px 4px var(--clr-primary-glow);
}

.active,
.active a {
    background-color: var(--clr-tertiary-highlight);
    border-radius: .5rem;
    color: var(--clr-dark-1);
}

.active:hover {
    box-shadow: 2px 2px 4px var(--clr-black);
}

.active a:hover{
    color: var(--clr-white);
    text-shadow: none;
}

.card {
    margin: 1.375rem 1.875rem;
    background-color: var(--clr-light-3);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 4px #00000030;
}

.card__header {
    background-color: var(--clr-dark-2);
    padding: .75em 4em;
    border-bottom: 3px solid var(--clr-tertiary-highlight);
    box-shadow: inset 0px 2px 6px var(--clr-black);
}

.card__title {
    text-align: center;
    color: var(--clr-white);
    margin-bottom: .5em;
}

.photo {
    min-width: 45%;
    max-width: 45%;
    margin: 0;
    padding: 0;
    background-color: var(--clr-tertiary-highlight);
}

.card__text {
    min-width: 40%;
    font-size: 1.1875rem;
    padding: 0em 2.5em 1em 1.875em;
}

.card__text + .card__text {
    border-left: 2px solid var(--clr-tertiary-highlight);
    max-width: 50%;
}

.body__link {
    background-color: var(--clr-tertiary-highlight);
    padding: .125em .75em;
    border-radius: 20rem;
    color: var(--clr-white);
    font-weight: 900;
    cursor: pointer;
}

.body__link:hover {
    color: var(--clr-black);
}

.background {
    /* background-image: url(../assets/image/Dimes.jpg); */
    background-color: var(--clr-light-1);
}

.copywrite {
    color: var(--clr-white);
    justify-self: flex-end;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.buttons {
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--clr-dark-2);
    padding: 1em 1.5em;
    border-radius: 1rem 0 0 1rem;
    min-width: 33%;
    max-width: 50%
}

#submit {
    margin-top: 1.5em;
    background-color: var(--clr-dark-2);
    padding: 1em 1.5em;
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    float: right;
}

.contact__card {
    width: 90%;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

form {
    padding: .25em 2em 4em 2em;
}

#name,
#email,
#message {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: .5em;
}

#message {
    min-height: 6em;
}

label {
    margin-top: 1.75em;
    margin-bottom: .125em;
    font-weight: 900;
    float:left;
}

button + button {
    border-radius: 0 1rem 1rem 0;
    border-left: 2px solid var(--clr-tertiary-highlight);
}

button a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
}

.error {
    color: red;
}

.contact__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.form__input {
    border: 2px solid #DADADA;
    border-radius: .3rem;
    width: calc(100% - .87rem);
    padding: .625em .375em; /* 5/8 & 3/8 */
}

@media screen and (max-width: 910px) {

    main {
        overflow-y: visible; 
    }

    h1 {
        font-size: 5vw;
        margin: .5em;
    }
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .nav__list {
        gap: 1em;
        padding-inline-start: 0;
    }

    .nav__list a {
        font-size: 1.125rem;
    }

    .photo {
        max-width: 65%;
        border-radius: 1.5rem;
        margin: 2rem auto .5rem;
        overflow: hidden;
    }

    .card__text + .card__text {
        border-left: none;
        border-top: 2px solid var(--clr-tertiary-highlight);
        max-width: 100%;
    }
    form {
        padding: 2em 1em;
    }
}